@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    width: 93%;
    margin: 0 auto;
}

:root{
    --main-blue:  #0F4C75;
    --contrast-blue-light: white;
    --contrast-blue-dark: #3282B8;
    --light-blue: #BBE1FA;
    --light-grey: #c4e7f0;
    --transparent-light-blue: rgba(164, 181, 255, 0.589);
    --book-wrapper-bg: var(--transparent-light-blue);
    --book-info-bg: var(--contrast-blue-dark);
    --logout: rgb(230, 83, 72);
}

#root{
    font-family: 'Inter', 'Helvetica', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: var(--light-blue);
}

header{
    background-color: var(--main-blue);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    color: var(--contrast-blue-light);
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-link{
    font-size: 1.2rem;
}

.nav-link:hover{
    color: var(--contrast-blue-dark);
}

a{
    text-decoration: none;
    color: var(--contrast-blue-light);
}

h1{
    font-size: 3rem;
    font-family: 'Merriweather', serif;
    font-weight: lighter;
}

input{
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 5px;
    border: 1px solid var(--main-blue);
}

button,
label,
a{
    cursor: pointer;
}

label{
    font-size: 1.3rem;
    color: var(--main-blue);
}

meter{
    width: 100%;
    padding: 0 .1rem;
    height: 1.3rem;
}

meter::-webkit-meter-bar {
    background: var(--light-grey);
    border: none;
}

meter::-webkit-meter-optimum-value {
    background: var(--main-blue);
}

meter::-moz-meter-bar { 
    background: var(--main-blue);
}

.content-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.btn{
    padding: .7em 1.8em;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

nav .btn{
    margin-left: 1rem;
}

.btn-fill{
    background-color: var(--contrast-blue-dark);
    color: white;
}

.btn-main{
    background-color: var(--main-blue);
    color: white;
}

.btn-hollow{
    border: 1px solid var(--contrast-blue-light)
}

.btn-hollow:hover{
    background-color: var(--contrast-blue-dark);
}

.search-bar{
    background-color: var(--contrast-blue-dark);
}

.book-form-container{
    background-color: var(--main-blue);
    padding: 2rem;
    border-radius: 10px;
}   

.book-form{
    display: flex;
    flex-direction: column;
}

.search-form{
    display: flex;
    gap: 1rem;
    padding: 1.5rem 0;
}

.search-form input{
    padding: 0 1rem;
}

.field-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-icon{
    position: absolute;
    bottom: 1rem;
    left: .8rem;
    color: var(--transparent-light-blue);
}

.login-wrapper,
.signup-wrapper{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-wrapper .container,
.signup-wrapper .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-wrapper{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/stripes-light.png');
}

.signup-wrapper{
    background-image: url('https://www.toptal.com/designers/subtlepatterns/uploads/funky-lines.png');
}

.auth-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    height: 100%;
    padding: 2.5rem;
    background-color: var(--light-blue);
    border-radius: 10px;
    margin: 2rem 0;
}

.book-form-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 0.274);
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.books-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 2rem 0;
}

.books-container p{
    text-align: center;
    background: var(--book-info-bg);
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-size: 0.9rem;
    height: 100%;
}

.book-info-wrapper{
    display: block;
    background: var(--book-wrapper-bg);
    border-radius: 20px;
    position: relative;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
    opacity: 1;
    transition: all 0.8s;
    max-width: 280px;
    overflow: hidden;
}

.book{
    padding: 10px;
    margin: 40px;
    position: relative;
    width: 200px;
    height: 250px;
    text-align: center;
    -webkit-transform: rotateY(-45deg);
    transform: rotateY(-45deg);
    z-index: 1;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 30px 5px 20px rgba(0, 0, 0, 0.315);
    box-shadow: 30px 5px 20px rgba(0, 0, 0, 0.315);
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 225px 275px;
    background-position: center;
}

.book::before {
    content: '';
    width: 6%;
    height: 93%;
    top: 4%;
    position: absolute;
    left: 100%;
    background-image: -o-linear-gradient(left, rgb(194, 169, 111), rgb(194, 169, 111), rgb(194, 169, 111), rgb(201, 178, 128), rgb(245, 220, 165), rgb(245, 220, 165), rgb(201, 178, 128), rgb(245, 220, 165), rgb(245, 220, 165), rgb(201, 178, 128), rgb(245, 220, 165), rgb(245, 220, 165));
    background-image: linear-gradient(90deg, rgb(194, 169, 111), rgb(194, 169, 111), rgb(194, 169, 111), rgb(201, 178, 128), rgb(245, 220, 165), rgb(245, 220, 165), rgb(201, 178, 128), rgb(245, 220, 165), rgb(245, 220, 165), rgb(201, 178, 128), rgb(245, 220, 165), rgb(245, 220, 165));
    -webkit-box-shadow: inset 2px 1px 1px rgba(0, 0, 0, 0.329);
    box-shadow: inset 2px 1px 1px rgba(0, 0, 0, 0.329);
    z-index: -1;
    -webkit-transition: all 2.5s;
    -o-transition: all 2.5s;
    transition: all 2.5s;
}

.book::after {
    content: '';
    width: 10%;
    height: 97%;
    position: absolute;
    left: 100%;
    top: 1.5%;
    z-index: -2;
    -webkit-transition: 1.900s;
    -o-transition: 1.900s;
    transition: 1.900s;
    border-radius: 0px 5px 5px 0px;
    background: black;
}

.book:hover {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.219)
}

.book:hover:before {
    width: 0%;
    opacity: 0.4;
    -webkit-transition: all 1.300s;
    -o-transition: all 1.300s;
    transition: all 1.300s;
}

.book:hover::after {
    opacity: 0.7;
    width: 0%;
}

.book-text-info{
    display: block;
}

.progress-bar-label{
    display: block;
    text-align: center;
}

.title-span{
    font-size: 1.1rem;
    font-weight: 550;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select,
.delete{
    border-radius: 50%;
    padding: .3em .6em;
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem;
}

.select{
    background-color: var(--main-blue);
}

.delete{
    background-color: var(--logout);
}

.logout{
    background-color: var(--logout);
}

footer{
    text-align: center;
    background-color: var(--main-blue);
    color: white;
    padding: 2rem;
    margin-top: auto;
    justify-self: flex-start;
}